body {
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    background-color: #55267c;
    user-select: none;
}

h1 {
    margin-bottom: 100px;
    font-size: 38px;
    margin-top: 0;
    font-weight: lighter;
}

#container {
    display: flex;
    justify-content: space-evenly;
    width: 280px;
    margin-top: 80px;
}

#outcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

button:active {
    transform: translateY(4px);
}

.selectionBtn:hover {
    scale: 1.2;
}

#score {
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: center;
    padding-top: 25px;
}

#displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 50px;
}

#displayComputer {
    padding-left: 15%;
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

#displayPlayer {
    padding-right: 15%;
    display: flex;
    justify-content: flex-start;
    height: 80px;
}

.hide {
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateY(-60px);
    
}

#outcome p.fade {
    opacity: 1;
    transform: translateY(0px);
}

#displayPlayer img.fade {
    opacity: 1;
    transform: translateX(0px);
}

#displayComputer img.fade {
    opacity: 1;
    transform: translateX(0px);
}


.hideLeft {
    opacity: 0;
    transition: all 0.1s ease;
    transform: translateX(-80px);
    
}

.hideRight {
    opacity: 0;
    transition: all 0.1s ease;
    transform: translateX(80px);
    
}

#rock, #paper, #scissors {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(142, 142, 231, 0.5);
    border-radius: 15%;
    background-color: rgba(142, 142, 231, 0.5);
}

#rock:hover {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#paper:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

#scissors:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.resetBtn {
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 6px;
    border: solid 4px black;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
    &:focus,
	&:hover {
		background: #BCBCBC;
	}  
}

#computerChoiceDisplay, #playerChoiceDisplay {
    padding: 12px;
    border: 1px solid rgba(142, 142, 231, 0.5);
    border-radius: 15%;
    background-color: rgba(142, 142, 231, 0.5);
}


#gameContainer {
    background-color: rgba(14, 255, 255, 0.2);
    border-radius:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-top: 50px;
}