body {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    background-color: rgb(185, 37, 82);
    user-select: none;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    color: yellow;
    background-image: url(./backgroundImage/knightPixelArt.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    -webkit-text-stroke: 1.5px black;  
    font-weight: bolder;
}

#winnerAnnouncement {
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 46px;
    -webkit-text-stroke: 1.5px black;
}

#gameContainer {
    background-color: rgba(29, 0, 0, 0.55);
    border-radius:6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 50px;
}

#score {
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: center;
    padding-top: 25px;
}

#displayContainer img {
    width: 60px;
    height: 60px;
}

#vs {
    font-size: 46px;
    margin-top: 35px;
}

#displayComputer {
    padding-left: 15%;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    padding-top: 15px;
}

#displayPlayer {
    padding-right: 15%;
    display: flex;
    justify-content: flex-start;
    height: 80px;
    padding-top: 15px;
}

#outcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#container {
    display: flex;
    justify-content: space-evenly;
    width: 280px;
    margin-top: 80px;
}

#container img {
    width: 50px;
    height: 50px;
}

#rock, #paper, #scissors {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    background-color: rgba(29, 0, 0, 0.5);
}

#rock:hover {
    box-shadow: rgba(240, 225, 93, 0.5) -5px 5px, rgba(240, 225, 93, 0.3) -10px 10px, rgba(240, 225, 93, 0.2) -15px 15px, rgba(240, 230, 93, 0.1) -20px 20px, rgba(240, 230, 93, 0.05) -25px 25px;
}

#paper:hover {
    box-shadow: rgba(240, 225, 93, 0.5) 0px 5px, rgba(240, 225, 93, 0.3) 0px 10px, rgba(240, 225, 93, 0.2) 0px 15px, rgba(240, 230, 93, 0.1) 0px 20px, rgba(240, 230, 93, 0.05) 0px 25px;
}

#scissors:hover {
    box-shadow: rgba(240, 225, 93, 0.5) 5px 5px, rgba(240, 225, 93, 0.3) 10px 10px, rgba(240, 225, 93, 0.2) 15px 15px, rgba(240, 230, 93, 0.1) 20px 20px, rgba(240, 230, 93, 0.05) 25px 25px;
}

.selectionBtn:active {
    scale: 1.1;
}

.selectionBtn:hover {
    scale: 1.2;
}

.resetBtn {
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 6px;
    border: solid 4px black;
    font-size: 24px;
    padding: 10px;
    color: yellow;
    cursor: pointer;
    background-color: rgba(29, 0, 0, 0.7);
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(168, 168, 168, 0.5);
	border-top: 6px inset rgba(218, 218, 218, 0.5);
    &:focus,
	&:hover {
		background: rgba(29, 0, 0, 0.95);
	}
}

.resetBtn:active {
    transform: translateY(4px);
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: rgba(29, 0, 0, 0.55) ;
    font-size: 18px;
}

a {
    font-weight: light;
    color: yellow;
    font-size: 18px;
}

a:visited {
    color: rgb(173, 173, 77);
}


/* slide-fade-in animation classes */

.hide {
    opacity: 0; 
    scale: 0;  
}

.hideLeft {
    opacity: 0; 
    transform: translateX(-150px);
    
}

.hideRight {
    opacity: 0;
    transform: translateX(150px);
    
}

#winnerAnnouncement.fade, #outcome p.fade  {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.3s ease;
    scale: 1;
}

#displayPlayer img.fade {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.3s ease;
}

#displayComputer img.fade {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.3s ease;
}