body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-decoration: underline;
    margin-bottom: 150px;
}

#container {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

#outcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

button:active {
    transform: translateY(4px);
}

button:hover {
    scale: 1.2;
}

#score {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
}

#displayContainer {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-bottom: 50px;
}

h1 {
    margin-top: 0;
}

#displayPlayer {
    width: 100px;
}

#displayComputer {
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

#displayPlayer {
    width: 100px;
    display: flex;
    justify-content: flex-start;
}

.hide {
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateY(-60px);
    
}

#outcome p.fade {
    opacity: 1;
    transform: translateY(0px);
}

#displayPlayer p.fade {
    opacity: 1;
    transform: translateX(0px);
}

#displayComputer p.fade {
    opacity: 1;
    transform: translateX(0px);
}


.hideLeft {
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateX(-80px);
    
}

.hideRight {
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateX(80px);
    
}

#rock, #paper, #scissors {
    border: none;
    background: none;
}

.resetBtn {
    margin-top: 5px;
}